**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exploración y Curación de Datos**

*Edición 2021*

----

# Trabajo práctico entregable - parte 1

En esta notebook, vamos a cargar el conjunto de datos de [la compentencia Kaggle](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot) sobre estimación de precios de ventas de propiedades en Melbourne, Australia.

Utilizaremos el conjunto de datos reducido producido por [DanB](https://www.kaggle.com/dansbecker). Hemos subido una copia a un servidor de la Universidad Nacional de Córdoba para facilitar su acceso remoto.

In [1]:
import matplotlib.pyplot as plt
import numpy
import pandas

import seaborn as sns 

sns.set_context('talk')

In [2]:
import plotly
plotly.__version__
# Make sure it's 4.14.3

'4.14.3'

In [3]:
melb_data = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')
melb_df = melb_data.copy()
melb_df[:3]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

## Ejercicio 1: 

1. Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.

1. Investigar la distribución de las variables del conjunto de datos y seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad.
  1. Justificar cada columna no seleccionada.
  2. Para las variables categóricas seleccionadas, agrupe o combine las categorías poco frecuentes para asegurar que todos los grupos tengan un número mínimo de registros.

2. Agregar información adicional respectiva al entorno de una propiedad a partir del [conjunto de datos de AirBnB](https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv) utilizado en el práctico. 
  1. Seleccionar qué variables agregar y qué combinaciones aplicar a cada una. Por ejemplo, pueden utilizar solo la columna `price`, o aplicar múltiples transformaciones como la mediana o el mínimo.
  1. Utilizar la variable zipcode para unir los conjuntos de datos. Sólo incluir los zipcodes que tengan una cantidad mínima de registros (a elección) como para que la información agregada sea relevante.
  2. Investigar al menos otras 2 variables que puedan servir para combinar los datos, y justificar si serían adecuadas o no. Pueden asumir que cuentan con la ayuda de anotadores expertos para encontrar equivalencias entre barrios o direcciones, o que cuentan con algoritmos para encontrar las n ubicaciones más cercanas a una propiedad a partir de sus coordenadas geográficas. **NO** es necesario que realicen la implementación.

Pueden leer otras columnas del conjunto de AirBnB además de las que están en `interesting_cols`, si les parecen relevantes.

In [ ]:
# data source:
# https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv
interesting_cols = [
  'suburb', 'zipcode','price', 'price','weekly_price', 'monthly_price','review_scores_location',
  'latitude','longitude'
]
airbnb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv',
    usecols=interesting_cols)

### Veamos un poco de què está compuesto nuestra data frame a analizar:

In [ ]:
melb_df.shape

In [ ]:
#Columnas del melb_df
melb_df.columns

In [ ]:
##Descripción de columnas del df
melb_df.describe()

Con describe() notamos que hay datos faltantes en BuldingArea , YearBuilt y CouncilArea.

## DATOS RUIDOSOS

In [ ]:
cols = melb_df[melb_df == 0].count(axis=0)
cols[cols > 0]

###Notamos que:
- La columna Distancia puede ser 0 porque quizás esas son propiedades que están en el centro. Decisión: No realizamos acción sobre estos valores.

- Lo mismo para cars, puede ser que las propiedades no tengan sitio de estacionamiento.Decisión: dejar todos los valores que originalmente eran ceros como 0. 

- Bedroom2 esta sacada de otra database. Luego de explorar la variable observamos que hacía mucho ruido porque tenia valores extraños con respecto a "Rooms ". Debido a que ya tenemos la variable Rooms que nos puede dar una idea de la misma información y que proviene del la misma fuente que el resto de los datos decidimos quedarnos con la columna "Rooms" y descartar "Bedroom2".

- Hay Valores faltantes que puedo imputar en Bathroom. Decisión: imputar con el valor de 1 Pensando que al menos un baño debería existir en toda propiedad.

- En Building area hay datos faltantes. No puede haber ceros, por lo que analizamos más adelante una imputación. 

- Landsize puede que sea cero si son los de departamentos y por eso no esta el registro pero deberiamos chequear. Decisión: imputar por el valor del BuildingArea todos aquellos registros que tengan valor de buildingArea

## Exploracion de las variables Bedroom2, Bathroom y Distance

In [ ]:
# Veamos la distribución de los Dormitorios por  tipos de propiedad.

sns.boxplot(data=melb_df, x='Bedroom2', y='Type')

# DATOS RUIDOSOS. Hay de los 3 tipos de propiedades sin dormitorios. Algunas casas tienen más de 20 dormitorios.

In [ ]:
# Miremos en forma conjunta las variables Rooms y Bedroom2.
Bedroom2 = melb_df.Bedroom2
Rooms = melb_df.Rooms
pandas.crosstab(Bedroom2,Rooms)

- Parece que Bedroom mete mucho ruido.
- Decidimos usar la variable Rooms que nos da informacion similar y tirar la variable Bedroom2

In [ ]:
#Eliminamos la columna Beedroom2

melb_df.drop(['Bedroom2'], axis=1, inplace=True)
melb_df.sample(3,random_state=123)

In [ ]:
# Exploración con Boxplot de los baños de acuerdo con el tipo de propiedad:
sns.boxplot(data=melb_df, x='Bathroom', y='Type')

In [ ]:
# Veamos valores cruzados de Rooms y Bathrooms

Bathroom = melb_df.Bathroom
Rooms= melb_df.Rooms
pandas.crosstab(Bathroom,Rooms)

In [ ]:
# Como hay valores 0 para baños le vamos a poner el valor de 1 para 
# que todas las propiedades tengan al menos un baño.
melb_df.loc[melb_df.Bathroom<1,'Bathroom']=1

In [ ]:
# Chequeamos que no haya propiedades sin baño.
bathroom2 = melb_df.Bathroom
pandas.crosstab(bathroom2,Rooms)

Como podemos observar en la siguiente celda de código, en el dataset editado no está la variable Bedroom2 y la categoria Bathroom no tiene ceros.

In [ ]:
#data frame original
display(melb_data.describe().loc[['count','mean', 'min']])
#data frame modificada
display(melb_df.describe().loc[['count','mean', 'min']])

## Analizaremos la variable car.

In [ ]:
#  Realizamos un boxplot de Car por tipo de propiedad
sns.boxplot(data=melb_data[melb_data.Car < 5], x='Car', y='Type');

In [ ]:
relevant_cols = ['Type', 'Rooms', 'Distance', 'Landsize', 'Price', 'Car']

# Obtengo las propiedades sin cocheras para explorar un poco de qué se tratan.
# Sin embargo Car=0, se refiere a propiedades sin cocheras por lo que 
# obtamos no imputar
data = melb_df[melb_df.Car == 0]
data[relevant_cols].sample(3)

## DATOS FALTANTES

In [ ]:
melb_df.info()

In [ ]:
# Se observa valores faltantes en:
missing_values_count= melb_df.isna().sum() 
missing_values_count[missing_values_count>0]
# valores faltantes en Car(62), BuildingArea(6450) YearBuilt(5375) y CouncilArea(1369)

In [ ]:
total_cells = numpy.product(melb_df.shape)
total_missing = missing_values_count.sum()

# porcentaje de datos faltantes---
(total_missing/total_cells) * 100

In [ ]:
##Exploramos gráficamente datos faltantes de columnas del df 
import missingno as msno
msno.bar(melb_df,figsize=(12, 6), fontsize=12, color='steelblue')

In [ ]:
msno.matrix(melb_df.sample(200),figsize=(12, 6), fontsize=12, color=[0.5,0,0])

In [ ]:
# Imputamos con 0 los valores NAn correspondientes a Car porque interpretamos 
# que las personas que no completaron la columna de cochera dejaron la columna
# vacia por no tener espacio de estacionamiento disponible. 
# y ademas porque los datos representan una pequeña fraccion del DF 
# original (62 /13580 datos).
melb_df.Car.fillna(0, inplace=True)

In [ ]:
# Realizamos un histograma para ver la distribucion de la variable "Car" y
# explorar datos ruidosos

import plotly.express as px

fig = px.histogram(melb_df, x='Car', nbins=100, \
                   labels={'value': 'Car', 'count': 'number of houses'},\
                   marginal='violin', 
                   title='Distribución de las propiedades con lugares de estacionamiento en Melbourne',
                   color_discrete_sequence=px.colors.sequential.RdBu)

fig.update_layout(showlegend=False)

fig.show()

In [ ]:
Car = melb_df.Car
Type = melb_df.Type
pandas.crosstab(Type,Car)

# Hay muchas casas sin cochera (raro) y hay casas con 10 cocheras

In [ ]:
# Exploramos los valores con Estacionamientos mayores a 4 porque nos parecia 
# que podian llegar a ser datos poco frecuentes. 
# Vemos que sí (solo representan 138 datos del total=13580). 
# Al resultar ser cantidades pequeñas dentro del set de datos decidimos no 
# accionar ya que pensamos que no poseen el peso suficiente para afectar la
# prediccion sobre el valor de las propiedades.  

melb_df[melb_df['Car']>4].shape

Esto de arriba lo cambiamos y decidimos hacer un filtrado de extremos porque esta pedido en el punto 1. (como para cumplir)

In [ ]:
columns = ['Bathroom','Car', "Landsize"]
limits = {}
for index, column in enumerate(columns):
  Q1 = melb_df[column].quantile(0.25)
  Q3 = melb_df[column].quantile(0.75)
  IQR = Q3 - Q1

  limits[column] = [(Q1 - 1.5 * IQR), (Q3 + 1.5 * IQR)]
  print("{}: {}".format(column, limits[column]))

  ### Nos queda un rango de baños y de Car con 3,5 como maximo###

In [ ]:
sorted = melb_df.sort_values('BuildingArea')
msno.matrix(sorted,figsize=(12, 6), fontsize=12, color=[0.5,0,0]) 

#valores de BuildingArea ordenados

In [ ]:
##Veo correlacion entre datos faltantes de las diferentes variables
msno.heatmap(melb_df,figsize=(6, 3), fontsize=12)

In [ ]:
#Vemos cuantos valores de Landsize eran cero
melb_df[melb_df["Landsize"] == 0]["Landsize"].count()

In [ ]:
# Vamos a imputarlos por el valor de building area pero primero vemos si
# tenemos valores de BuildingArea para todas las filas.

melb_df[(melb_df["Landsize"] == 0) & (melb_df["BuildingArea"].isna())]["Landsize"].count()

# Hay 878 valores Nan en Building area que no se van a poder imputar en Landsize

In [ ]:
# Vamos a imputar los 0 de Landsize por el valor de BuildingArea para aquellos
# datos que tengan datos de BuildingArea 
#porque algunos datos de BUIlding Area no tenian valor (Nan)

import math
def imputar_landsize_con_building_area(row):
  if row["Landsize"] == 0 and not math.isnan(row["BuildingArea"]):
    row["Landsize"] = row["BuildingArea"]
  return row

melb_df=melb_df.apply(lambda row: imputar_landsize_con_building_area(row), axis=1)

Con los 878 valores que son Nan en LandSize hay que decidir que hacer. Decidimos imputar con la mediana usando Simple Imputer. Previamente sacamos 3 valores extremos de Landsize.

In [ ]:
#Vamos a sacar 3 valores de Landsize que nos hacen mucho ruido porque son extremos
melb_df=melb_df[melb_df["Landsize"] < 50000]

In [ ]:
##con los 878 valores que son Nan en LAndsize hay que decidir que hacer. Decidimos imputar con simple imputer con el valor de la mediana de la columna landsize porque hay mucha dispersion de los valores 
from sklearn.impute import SimpleImputer

In [ ]:
# Setting strategy to 'mean'
median_imputer = SimpleImputer(strategy='median', missing_values=0)

melb_df["Landsize"] = median_imputer.fit_transform(melb_df[["Landsize"]])

#msno.bar(melb_df, figsize=(12, 6), fontsize=12, color='steelblue');
#msno.matrix(melb_df.sample(200),figsize=(12, 6), fontsize=12, color=[0.5,0,0])

In [ ]:
melb_df["Landsize"].describe()

#Columnas elegidas por mi
-'Price'
-'Rooms'
-'Postcode'
-'Type'
-'Bedroom2'
-'Bathroom'
-'Landsize'
-'YearBuilt'
-'BuildingArea'


'Date' depende del periodo de ventas considerado
-'Suburb' No conozco los nombres de los suburbios (quizas reemplazarlos con el poscode)
'Propertycount' no me parece que sea relevante. Quizás puedo asumir que las propiedades mas cercanas al centro son de mayor densidad de construcciones. 
'Lattitude',
'Longtitude'
'Car'
'Distance'
'CouncilArea'
'Regionname'

Columnas no elegidas
'Address' porque es un unico valor exclusivo de cada propiedad que no se repite. Podria saber la ubicacion por ejemplo con el zipcode, poscode
'Regionname' podria sacar esta info con Lattitude y Longitude
'Method' Saber cual es el metodo de venta No me parece relevante para el problema de estimar el precio de una propiedad.
'SellerG' Tampoco me parece relevante para el problema de estimacion precios de venta.

In [ ]:
melb_df.columns

In [ ]:
melb_df['Type'].value_counts()

In [ ]:
# Hay pocos valores para Eastern Victoria, Northen Victoria y Western Victoria. 
# Los agruparemos todos bajo el mismo nombre "Victoria".
melb_df['Regionname'].value_counts()

In [ ]:

melb_df['Regionname'].replace('Eastern Victoria', 'Victoria', inplace=True)
melb_df['Regionname'].replace('Northern Victoria', 'Victoria',inplace=True)
melb_df['Regionname'].replace('Western Victoria', 'Victoria',inplace=True)

In [ ]:
melb_df['Regionname'].value_counts()

In [ ]:
melb_df['Postcode'].value_counts()

In [ ]:
pandas.set_option('max_rows',314)
melb_df.groupby('Postcode')['Suburb'].value_counts()

In [ ]:
sns.displot(melb_df, x='Price', color="blue", aspect=2)
plt.title('Distribución de Precio  de las propiedades (en dolares)')
plt.xlabel('Precio')
plt.show()

In [ ]:
# Vemos que tipos de suburbios hay
melb_df.Suburb.describe()

In [ ]:
melb_df.Price.describe().round()

In [ ]:
filt_melb_df=melb_df[melb_df['Price']<3500000]

In [ ]:
sns.displot(filt_melb_df, x='Price', color="blue", aspect=2)
plt.title('Distribución de Precio  de las propiedades (en dolares)')
plt.xlabel('Precio')
plt.show()

In [ ]:
filt_melb_df['Price'].describe().round()

In [ ]:
g = sns.PairGrid(filt_melb_df, vars=["Price", "BuildingArea",'Rooms','Bathroom','Landsize'], hue='Type')

g.map_diag(sns.histplot)
g.map_offdiag(sns.scatterplot)

In [ ]:
melb_df = filt_melb_df.copy()
melb_df.Rooms.describe()

In [ ]:
melb_df.Bathroom.describe() #hay propiedades sin baño y hay hasta 8 baños max

In [ ]:
melb_df['Bathroom'].value_counts()

In [ ]:
melb_df.Landsize.describe() ##hay valores de 0. Chequear si son valores ingresados no erroneos

In [ ]:
melb_df["YearBuilt"]= melb_df["YearBuilt"].astype(str)
melb_df.YearBuilt.describe()

In [ ]:
melb_df.BuildingArea.describe()

In [ ]:
sns.pairplot(melb_df, vars=["Price", "BuildingArea",'Rooms','Bathroom','Landsize'], hue='Type', height=2.5)

## SACAR NULOS, UNIFICAR ZIPCODES y chequear que no haya valores raros.

In [ ]:
airbnb_df= airbnb_df[airbnb_df['zipcode'].notnull()]
airbnb_df

In [ ]:
zipcodes_num= airbnb_df[airbnb_df['zipcode'].apply(lambda x: (isinstance(x, int)) | (isinstance(x, float)))]
zipcodes_num

In [ ]:
zipcodes_num=zipcodes_num.astype({'zipcode':'int64'})
zipcodes_num

In [ ]:
all_zipcodes=zipcodes_num['zipcode'].value_counts()
all_zipcodes

In [ ]:
filtered_zipcodes= zipcodes_num[zipcodes_num['zipcode'].isin(all_zipcodes[all_zipcodes >= 5].index)]
filtered_zipcodes

In [ ]:
filtered_zipcodes_avg=filtered_zipcodes.groupby('zipcode')['review_scores_location'].mean().reset_index()
filtered_zipcodes_avg

In [ ]:
filtered_zipcodes_avg=filtered_zipcodes_avg.rename(columns={'zipcode': 'Postcode'})
filtered_zipcodes_avg

In [ ]:
###Renombrar zipcode a postcode

result = pandas.merge(melb_df, filtered_zipcodes_avg, on="Postcode",how="left")
result

## Ejercicio 2: Imputación

1. Imputar los valores faltantes de la columna CouncilArea en base a la información presente en Suburb. (Si en el punto anterior no seleccionó ninguna de estas variables, agréguelas ahora el conjunto de datos).

2. Imputar los valores faltantes de la(s) columna(s) que se agregaron a partir del conjunto de datos de AirBnB.

## ejercicio 2.1

Revisamos primero las cantidades de filas sin councilArea agrupándolas por Postcode

In [ ]:
result[result['CouncilArea'].isna()].groupby('Postcode').count()

Revisamos algunos ejemplos de esos postcodes

In [ ]:
result[result['Postcode']==3042].groupby(["Suburb", "CouncilArea"]).count()

En la tabla de arriba podemos ver que podríamos imputar los valores nulos de CouncilArea para el Postcode 3042, teniendo en cuenta el Suburb. Si es "Airport West" al CouncilArea lo imputaríamos con "Moonee Valley", si es "Keilor Park" con "Brimbank" y, por último, si es "Nidrie" lo imputaríamos con "Monee Valley"

In [ ]:
result[result['Postcode']==3181].groupby(["Suburb", "CouncilArea"]).count()

En el caso de arriba tendríamos un problema para imputar el CouncilArea (con el Postcode 3181) en caso de que el Suburb sea "Windsor" pues no sabríamos si deberíamos imputarlo con "Port Phillip" o con "Stonnington". Lo que podríamos hacer es imputar de acuerdo a los porcentajes de los valores presentes.

Para simplificar, y ser fieles a lo propuesto por el ejercicio, sólo imputaremos los valores nulos de CouncilArea con su correspondiente valor de Suburb.

In [ ]:
def set_council_area_with_suburb(row):
  if pandas.isnull(row["CouncilArea"]):
    row["CouncilArea"] = row["Suburb"]
  return row

result = result.apply(lambda row: set_council_area_with_suburb(row), axis=1)

## ejercicio 2.2

In [ ]:
result[result["review_scores_location"].isna()]

Ahora debemos imputar los mas de 364 datos de "review_scores_location"

In [ ]:
groups_by_region=result.groupby("Regionname")['review_scores_location'].mean()
groups_by_region

In [ ]:
#Iteramos sobre todas las regiones
groups_to_iterate = groups_by_region.reset_index()
for row in groups_to_iterate.values:
  # Por cada region obtenemos el nombre de la region y el promedio que tenemos que setearle a las filas que pertenecen a la misma
  # pero que tienen nulo el review_scores_location
  region, mean = row[0], row[1]
  # Obtenemos los números de las filas a las cuales les tenemos que setear un valor (deben tener un na en la columna
  # review_scores location y deben pertenecer a la región en la que estamos iterando)
  indexes_to_imput = result[(result["review_scores_location"].isna()) & (result["Regionname"] == region)].index.values
  #Pisamos los valores nulos por la media de la region actual
  result.iloc[indexes_to_imput, result.columns.get_loc("review_scores_location")] = mean

## Ejercicio 3

Crear y guardar un nuevo conjunto de datos con todas las transformaciones realizadas anteriormente.

In [ ]:
result.to_csv('result_dataset.csv', index=False)